.App {
  text-align: center;
}

.header{
  background-color: orange;
  color: black;
  height: 10vh;
  line-height: 55px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
border: 2px solid rgb(23, 177, 188);
}